.header {
  max-width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  align-items: end;
}

.header img {
  width: 140px;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.language-selector {
  padding: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  max-width: 120px;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.select-voice {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #333;
  cursor: pointer;
}